/* Variables */
:root {
  --primary-color: #17bfd2;
  --secondary-color: #505668;
  --section-padding: 100px;
}

/* Main Style */
html {
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  padding: 20px 0;
}
ul {
  list-style: none;
}
a {
  color: #fff;
  text-decoration: none;
}
span {
  color: var(--primary-color);
}

/* Utility class */
.container {
  width: 80%;
  margin: auto;
}
section {
  padding: var(--section-padding) 0;
}
section .container {
  display: flex;
  justify-content: space-between;
}
section .container .details {
  width: 80%;
}
section .container .info {
  direction: rtl;
  padding-right: 50px;
}
section .container .info h2 {
  color: var(--secondary-color);
  padding-bottom: 10px;
}

/* Header */
header {
  border-bottom: 1px solid #fff;
  color: #fff;
  font-size: 20px;
  padding: 30px 15px;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container i {
  display: none;
}
header .container ul {
  display: flex;
}
header .container ul a {
  padding: 0 15px;
}
header .container ul a:hover {
  color: var(--primary-color);
}

/* Showcase */
.showcase {
  color: #fff;
  height: 100vh;
  background: url('../img/cover.jpg') no-repeat center center/cover;
  display: flex;
  justify-content: center;
}
.showcase .container {
  display: flex;
}
.showcase h1 {
  font-size: 50px;
}
.showcase p {
  font-size: 30px;
  padding: 10px 0 30px;
  border-bottom: 1px solid #fff;
}
.showcase ul {
  margin-top: 30px;
  display: flex;
}
.showcase ul li {
  font-size: 20px;
  padding-right: 50px;
}
.showcase ul a {
  transition: color 0.3s ease-in-out;
}
.showcase ul a:hover {
  color: var(--primary-color);
}

/* Intro */
.intro .container .details p {
  padding-bottom: 20px;
}
.intro .container .skills {
  padding-top: 20px;
}
.intro .container .skills .skill {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-bottom: 25px;
}
.intro .container .skills .skill p:nth-child(2) {
  justify-self: flex-end;
}
.intro .container .skills .evaluation {
  grid-column: span 2;
  width: 100%;
  height: 5px;
  border-radius: 10px;
}
.intro .container .skills .html { background-image: linear-gradient(to right,var(--primary-color) 90%,#eee 90%,#eee 100%) }
.intro .container .skills .css { background-image: linear-gradient(to right,var(--primary-color) 80%,#eee 80%,#eee 100%) }
.intro .container .skills .bootstrap { background-image: linear-gradient(to right,var(--primary-color) 20%,#eee 20%,#eee 100%) }
.intro .container .skills .js { background-image: linear-gradient(to right,var(--primary-color) 10%,#eee 10%,#eee 100%) }

/* Experiance */
.experiance {
  background-color: #f0f0f0;
}
.experiance .details {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.experiance .details .box {
  background-color: #fff;
  color: var(--secondary-color);
  padding: 30px;
  transition: transform 0.2s linear;
}
.experiance .details .box:hover {
  background-color: var(--primary-color);
  color: #fff;
  transform: scale(1.05);
}
.experiance .details i {
  color: var(--secondary-color);
  font-size: 45px;
}
.experiance .details h3 {
  padding: 15px 0 30px;
}

/* Experiance */
.works .details {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.works .details .work {
  overflow: hidden;
  transition: transform 0.1s linear;
}
.works .details .work:hover {
  box-shadow: 4px -1px 4px 0px #dadcdd;
  transform: scale(1.03);
}
.works .details .work:first-child {
  grid-column: span 2;
}
.works .details img {
  width: 100%;
  height: 100%;
}

/* Contact */
.contact {
  background-color: #f0f0f0;
}
.contact .details {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.contact .details h4 {
  padding-bottom: 5px;
}

/* Footer */
footer {
  padding: 25px 0;
}
footer .container {
  font-size: small;
  display: flex;
  justify-content: space-between;
}

/* Tablet */
@media (min-width: 768px) and (max-width: 991px) {
  .experiance .details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .contact .details p {
    font-size: 14px;
  }
}

/* Mobile */
@media (max-width: 767px) {
  header .container {
    position: relative;
  }
  header .container i {
    cursor: pointer;
    display: block;
  }
  header .container ul {
    position: absolute;
    background-color: #fff;
    top: 54px;
    right: 0;
    display: none;
  }
  header nav .icon:focus + ul {
    display: block;
  }
  header .container ul a {
    display: block;
    padding: 10px 70px 10px 15px;
    color: var(--secondary-color);
  }
  section .container {
    flex-direction: column;
  }
  section .container .info {
    padding: 0 0 30px;
    text-align: center;
  }
  section .container .details {
    width: 100%;
  }
  .experiance .details {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .works .details {
    grid-template-columns: repeat(2, 1fr);
  }
  .contact .details {
    flex-direction: column;
    text-align: center;
  }
  .contact .details div {
    padding: 15px 0 15px;
  }
}